.main-space {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  border: 3px solid rgb(157, 255, 0);
}

.category-group {
  margin: 0px 15px;
  width: 20%;
  max-width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  left: 0;
  z-index: 1;
}

.work-space {
  border: 1px solid red;
  border-left: 1px solid #81818154;
  position: relative;
  top: 10%;
  left: 0%;
  width: 90%;
  height: 90%;
  overflow: auto;
}
