/* .category-group {
  border: 2px solid red;
}

.main-space {
  border: 2px solid rgb(0, 255, 13);
}

.work-space {
  border: 2px solid rgb(0, 60, 255);
}

.tool-bar {
  border: 2px solid rgb(255, 0, 234);
}
.category-list {
  border: 2px solid rgb(0, 60, 255);
} */

/**/