
.modal-body-right {
  position: fixed;
  top: 0;
  right: 0px;
  width: 350px;
  max-width: 50%;
  height: 100%;
  background: var(--background-color-for-modul-window-settings);
  padding: 10px;
  z-index: 1001;
  /* transform: translateX(0px); */
  transition: transform 0.3s ease-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.modal-body-right.closed {
  transform: translateX(400px);
}
.modal-body-right.open {
  transform: translateX(-400px);
}
