.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 1000;
  opacity: 1;
  transition: opacity 1.3s linear, backdrop-filter 1.3s ease;
}

.modal-body-right {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: var(--background-color-for-modul-window-settings);
  padding: 10px;
  z-index: 1001;
  transform: translateX(0px);
  transition: transform 1.3s ease-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.modal-body-right.closed {
  transform: translateX(400px);
}
.modal-body-right.open {
  transform: translateX(-400px);
}
