@media screen and (max-width: 840px) {
  .category-icon {
    display: none;
  }
}

.category-main {
  top: 10%;
  min-height: 40%;
  max-height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  /* border: 5px solid #ffe600; */
}

.category-list {
  min-height: 0%;
  max-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  /* border: 5px solid #00eeff; */
}

.category-list-header {
  position: static;
  top: 0px;
  left: 0px;
  /* border: 5px solid #15ff00; */
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  min-height: 30px;
  max-height: auto;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  /* border: 2px solid rgb(255, 0, 200); */
}
.category-icon {
  margin-right: 10px;
  margin-left: 5%;
  height: 20px;
  width: 20px;
}

.category:hover {
  background-color: #a5a5a5;
  color: #333;
  transition: background-color 0.7s, color 0.2s;
}

.category:active {
  background-color: #222;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: -5px 0px 6px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.4s, color 0.3s;
}

.category span {
  display: inline-block;
}

.category-btn {
  text-decoration: none;
  all: unset;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.category-btn:active {
  color: aliceblue;
  transition: color 0.7s;
}

.category-static {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.static {
  justify-content: start;
  width: 100%;
  background-color: transparent;
}

/* 
.inbox {
  fill: rgb(84, 229, 255);
}
.doneList {
  fill: rgb(81, 255, 0);
}
.trashcan {
  fill: rgb(255, 255, 255);
} */

::-webkit-scrollbar {
  width: 5px;
}
/*трек скроллбара*/
::-webkit-scrollbar-track {
  background: rgba(189, 189, 189, 0.2);
  border-radius: 5px;
}
/*ползунок скроллбара*/
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
  border: 1px solid #8b8b8b;
  transition-property: border;
  transition-duration: 1s;
}

.choosen {
  box-shadow: inset 0px 0px 10px 1px var(--background-shadow);
  border-radius: 3px;
  border: 1px solid var(--border-for-background-shadow);
}
