.category-main {
  top: 10%;
  min-height: 40%;
  max-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: auto;
  position: relative;
  /* border: 5px solid #ffe600; */
}

.category-list {
  min-height: 0%;
  max-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  /* border: 5px solid #00eeff; */
}

.category-list-header {
  position: static;
  top: 0px;
  left: 0px;
  /* border: 5px solid #15ff00; */
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 30px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s, color 0.7s;
}

.category:hover {
  background-color: #a5a5a5;
  color: #333;
  transition: background-color 0.7s, color 0.2s;
}

.category:active {
  background-color: #222;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: -5px 0px 6px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.4s, color 0.3s;
}

.category span {
  display: inline-block;
}

.category-btn {
  text-decoration: none;
  all: unset;
  transition: background-color 0.4s, color 0.7s;
  border-radius: 2px;
}
.category-btn:active {
  color: aliceblue;
  transition: color 0.7s;
}

.category-static {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.static {
  width: 100%;
  background-color: transparent;
  color: #796e6e;
}
