.tool-bar {
  width: 100%;
  max-width: auto;
  height: 30px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-of-selected-category {
  margin-left: 100px;
}
