.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 1000;
  opacity: 1;
  transition: opacity 1.3s linear, backdrop-filter 1.3s ease;
}
.opened-note {
  min-width: 250px;
  width: 40%;
  height: 90%;
  border: 2px solid rgb(122, 122, 122);
  position: absolute;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  background-color: var(--background-color-for-items);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--background-color-for-items-lines) 25%,
      var(--background-color-for-items-lines) 26%,
      transparent 27%,
      transparent 74%,
      var(--background-color-for-items-lines) 75%,
      var(--background-color-for-items-lines) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--background-color-for-items-lines) 25%,
      var(--background-color-for-items-lines) 26%,
      transparent 27%,
      transparent 74%,
      var(--background-color-for-items-lines) 75%,
      var(--background-color-for-items-lines) 76%,
      transparent 77%,
      transparent
    );
  background-size: 25px 25px;
  /* overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; */

  /* background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px; */

  /* background-color: #414141;
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #696b6b 79px,
        #757777 81px,
        transparent 81px
      ),
      linear-gradient(#272727 0.1em, transparent 0.1em);
    background-size: 100% 1.2em; */
  /* 
    background-color: rgb(71, 71, 71);
    background-image: linear-gradient(rgb(99, 99, 99) 2px, transparent 2px),
      linear-gradient(90deg, rgb(99, 99, 99) 2px, transparent 2px),
      linear-gradient(rgba(150, 150, 150, 0.3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(150, 150, 150, 0.3) 1px, transparent 1px);
    background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}

.extended-note-title {
  width: 100%;
  background: rgba(128, 127, 127, 0.541);
  height: fit-content;
  word-break: break-all;
  text-align: center;
  text-overflow: ellipsis;
  padding: 10px 10px 10px 10px;
}

.extended-note-control-panel {
  padding: 0px 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.extended-note-content {
  min-height: 200px;
  max-height: auto;
  padding: 5px 10px 5px 10px;

  overflow: auto;
}

.btn-reduct-icon {
  transform: scale(1.5);
}

.extended-note-tags {
  height: 80px;
  justify-self: end;
  margin-top: auto;
  background: rgba(121, 121, 121, 0.418);
}
