.note-main {
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.note {
  width: 100%;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin: 2px;
  border-radius: 2px;
  transition: background-color 0.1s ease, box-shadow 0.2s ease,
    transform 0.2s ease;
  /* border: 1px solid #0098be; */
  position: relative;
}

.notes-nested {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  /* border: 2px solid rgb(255, 0, 0); */
}

/* .notes-nested {
  border-left: 1px solid #7c7c7c;
} */

.note-in-list:hover {
  background-color: var(--todo-onhover-background-color);
  /* border: 1px solid var(--todo-onhover-border); */
  transform: scale(1.005);
  transition: backgroundColor 0.2s ease, box-shadow 0.2s ease,
    transform 0.2s ease;
}

.note-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  /* border-right: 1px solid grey; */
}
.notes-list {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: 10px;
}

.note-wrap {
  height: inherit;
  padding: 0px 0px;
  /* width: 30px; */
}
.note-level {
  width: 3%;
  height: inherit;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
  color: grey;
}

.note-btn-extend {
  width: 5%;
  height: inherit;
}

.note-dummy {
  width: 20px;
  border-right: none;
  /* border: 1px solid red; */
}

.note-title {
  width: 45%;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: center;
}

.note-title-span {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Times New Roman", Times, san-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .note-title:hover {
  transform: scale(1.01);
  text-shadow: 0px 0px 1px #00fcfc, 0px 0 1em #ffffff, 0 0  1em #028b8b;
  transition: transform 0.2s linear, text-shadow 0.3s linear;
  border-radius: 3px;
} */

.note-text {
  width: 40%;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  height: 100%;
  transition: transform 0.2s linear, text-shadow 0.3s linear;
}

.note-part-open:hover {
  transform: scale(1.01);
  text-shadow: 1px 1px 1px #028b8b, 1px 0 1em #ffffff, 0 0 1em #028b8b;
  transition: transform 0.2s linear, text-shadow 0.3s linear;
  border-radius: 3px;
}

.note-text-span {
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.note-part-open-span {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.note-option {
  padding: 0px 5px;
  height: inherit;
}

/*ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

.note-wrap {
  transition: transform 0.2s ease;
}
.wrap-note-expanded {
  opacity: 1;
  transform: rotateZ(90deg);
  transition: transform 0.2s ease;
}

.wrap-hidden {
  opacity: 0;
  cursor: cell;
}

.hidden {
  display: none;
}



/*LINES Trees*/

/* .note-main {
  position: relative;
}

.notes-nested .nestedItem {
  border-left: 1px solid #7e7e7e;
  position: relative;
  border-left: 2px solid #ff0000;
  padding-left: 10px;
  }
  
  .notes-nested .nestedItem:last-child {
    border-color: transparent;
}

.nestedItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 20px;
  height: 100%;
  
  border: solid #7e7e7e;
  border-width: 0 0 1px 1px;
  
  } */

/* .note-main {
    position: relative;
  }
  
  .notes-nested .nestedItem {
    position: relative;
    padding-left: 10px;
    border-left: 1px solid #919191;
  }

  .notes-nested .nestedItem:last-child {
    border-color: transparent;
  }

.nestedItem::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -1px;
  width: 40px;
  height: 100%;
  border: solid #7e7e7e;
  border-width: 0 0 1px 1px;
} */

/* .notes-nested .nestedItem:last-child::before {
  border-left-color: transparent; 
} */

/* .notes-list.expanded {
  margin-left: 10px; 
} */
