.note {
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 3px;
  align-content: center;
  /* border-right: 1px solid grey; */
  border: 1px solid red;
}

.note-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  padding: 0px 5px;
  border-right: 1px solid grey;
}

.note-wrap {
  border-right: none;
}

.note-level {
  width: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
  color: grey;
}

.note-btn-extend {
  width: 50px;
}

.note-dummy {
  width: 50px;
  border-right: none;
}

.note-title {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-title-span {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-text {
  width: 40%;
}

.note-text-span {
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-option {
  padding: 0px 5px;
}

.note-tags {
  width: 150px;
  border-right: none;
  border: 3px solid rgb(255, 0, 212);
}

/*ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

/* .note {
  border: 3px solid rgb(255, 0, 212);
  }

.note-title {
  border: 1px solid blue;
}

.note-text {
  border: 1px solid blue;
} */
