.nav-link svg {
  font-size: 1.25rem; /* Установите размер иконок */
  vertical-align: middle; /* Выравнивание по центру строки */
}

.navbar-custom-style {
  background-color: var(--navbar-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-item {
  color: var(--text-color);
}
.navbar-toggler {
  background-color: var(--navbar-toggler);
}
.navbar-toggler:hover {
  background-color: #949494;
}
.btn-create-new-acc {
  border-radius: 2px;
  border: #9fa4a5 1px solid;
  padding: 3px;
}
.nav-link-text {
  color: var(--text-color);
}

.navbar-brand {
  position: absolute;
  left: 200px;
  top: 100px;
}

.text-landing-page {
  font-weight: bolder;
  color: var(--text-color);
}

.landing-discription {
  width: 100%;
  height: 100px;
  position: relative;
  top: 100px;
  left: -150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
}

.login-forms-inputs {
  height: 25px;
  width: 65%;
  margin: 5px 5px 10px 5px;

  background-color: var(--background-color-login-forms);
  border-radius: 2px;
  border: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help-block {
  font-size: 12px;
}

.btn-reg {
  size: 2rem;
  font-size: large;
}

.form-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
