/* main.css */
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "montserrat";
  src: url(./components/fonts/Montserrat/static/Montserrat-Light.ttf);
}

html[savedTheme="light"] {
  --background-color: #e6e6e6;
  --background-color-for-items: #f7f7f7;

  --background-color-onhover: #686561;
  --background-color-for-toggle-light-mode: #464444;
  --background-color-for-toggle-light-mode-onhover: #270180;
  --background-color-for-icon-light-mode: #e0e0e0;
  --background-color-for-modul-window-settings: #dcd1ad;
  --background-color-for-button: #073e46;
  --background-color-for-button-onhover: #525252;
  --text-for-button-color: #ffffff;
  --text-color: hsl(0, 0%, 0%);
  --text-color-onhover: #0a06d8;
  --navbar-color: #e6e6e6;
  --navbar-toggler: #bfae8c;
  --background-shadow: #cfcfcfd5;
  --border-for-background-shadow: #6d6d6d;
  
  --todo-done: #ffffff;
  --todo-done-border: #ececec;
  --todo-done-text: #2c2c2c;
  --todo-done-text-onhover:#2c2c2c;
  --todo-done-onhover-background-color: #ffffff;
  
  
  --todo-border: #ffffff;
  --todo-onhover-shadow-inset: #6d6d6d;
  --todo-done-shadow-onhover: #b5b8b9;
}

html[savedTheme="dark"] {
  --background-color: #454547;
  --background-color-for-items: #363638;
  
  --background-color-onhover: #5c5c5c;
  --background-color-for-toggle-light-mode: #f5eadd;
  --background-color-for-toggle-light-mode-onhover: #fde786;
  --background-color-for-icon-light-mode: #353535;
  --background-color-for-modul-window-settings: #404040;
  --background-color-for-button: #025f6b;
  --background-color-for-button-onhover: #017180;
  --text-color: #e0e0e0;
  --text-color-onhover: #5bdbdb;
  --text-for-button-color: #ffffff;
  --navbar-color: #454547;
  /* --navbar-color: #2c2c2c; */
  /* --navbar-color: #454547; */
  --navbar-toggler: #777777;
  --background-shadow: #757e80;
  --border-for-background-shadow: rgb(127, 132, 134);
  
  --todo-done: #000000;
  --todo-done-border: #000000;
  --todo-done-text: #f0f0f0;
  --todo-done-text-onhover:#a0a0a0;
  --todo-done-onhover-background-color: #26262b;
  
  --todo-border: #000000;
  --todo-onhover-shadow-inset: #a5a5a5;
  --todo-done-shadow-onhover: #adcddb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  font-weight: 900;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#root {
  height: 100%;
  width: 100%;
}

.btn-standart {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: var(--text-for-button-color);
  background-color: var(--background-color-for-button);
  border: 1px solid #000000;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  padding: 5px 5px;

  transition: background-color 0.3s ease, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
ы .btn-standart:hover {
  background-color: #017180;
  color: aliceblue;
  transform: scale(1.03);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-standart:active {
  background-color: var(--background-color-onhover);
  transform: scale(0.98);
}
.btn-standart:disabled {
  background-color: #777777;
  cursor: not-allowed;
  border-color: #666666;
}

.btn-empty {
  margin: 5px 5px;
  color: var(--text-color);
  border: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 0.1s ease, color 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.btn-empty:hover {
  color: var(--text-color-onhover);
  transform: scale(1.1);

  transition: transform 0.2s ease-in-out color 0.2s;
}

.btn-empty:active {
  transform: scale(1.05);
}

.btn-empty:disabled {
  background-color: #777777;
  cursor: not-allowed;
  border-color: #666666;
}

.btn-disabled {
  display: none;
}
