.color-mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: #f0f0f0;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--background-color-for-toggle-light-mode);
}
.btn-icon {
  fill: var(--background-color-for-icon-light-mode);
}

.color-mode-btn:hover {
  background-color: var(--background-color-for-toggle-light-mode-onhover);
}

.color-mode-btn:focus {
  outline: none;
}

.color-mode-btn svg {
  width: 15px;
  height: 15px;
  color: #333;
}

.color-mode-btn svg:hover {
  color: #555;
}
